.time-picker {
    font-size: 24px;
}
.time-input{
    font-size: 20px;
    text-align: center;
    height: 30px;
    width: 48px;
}


#button{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: white;
    padding: 10px;
}

body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}